{
  "presets": [
    // disable babel's module plugin
    // https://webpack.js.org/guides/hmr-react/#babel-config
    ["es2015", {"modules": false}],

    "react",
    "stage-0"
  ],
  "plugins": [
    // Enables React code to work with HMR.
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      // https://facebook.github.io/jest/docs/en/webpack.html#using-with-webpack-2
      "plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node"]
    }
  }
}