{
  "extends": "airbnb",
  "globals": {
    "afterAll": true,
    "afterEach": true,
    "beforeAll": true,
    "beforeEach": true,
    "describe": true,
    "expect": true,
    "jest": true,
    "test": true
  },
  "parser": "babel-eslint",
  "rules": {
    "jsx-boolean-value": "off",
    "object-shorthand": "off",
  },
  "new-cap": ["error", {"capIsNewExceptions": ["Dimensions", "UserIsAuthenticated", "UserAuthWrapper"]}]
}
