html {
  font-family: "Roboto", Arial, sans-serif;
}

html,
body {
  margin:0;
  padding:0;
}

/* @module */
.box-content {
  margin: 0 auto;
  padding: 24px;
  max-width: 100%;
  width: 100%;
}

.results-table {
  margin-top: 24px;
}

.search-wrap-flex {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

/* @decor */
.mui-shadow {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px,
              rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.search-bar {
  margin-bottom: 6px;
  width:100% !important;
}

/* images */
.icon-search {
  position: relative;
  top: 5px;
}

/* @media laptops and up */
@media screen
  and (min-width: 1200px) {
    .box-content {
      max-width: 600px;
      width: 600px;
    }
}
/* @media laptops and down */
@media screen
  and (max-width: 1200px) {
    /* override */
    .bp-table-body-scroll-client { width: 100% !important; }
}

/* @overrides */
a {
  text-decoration: none !important;
}

/* react table */
.bp-table-container { box-shadow: none !important; background-color: #FFF !important; }
.bp-table-body .bp-table-last-in-row { box-shadow: none; }
.bp-table-cell { padding: 15px 10px !important; box-shadow: 0 1px 0 rgb(224,224,224) inset !important; }
.bp-table-column-headers .bp-table-header { box-shadow: none; }
.bp-table-header-content button { text-align: left !important; background-color: #FFF !important; }
.bp-table-column-headers { box-shadow: none !important; }
.bp-table-column-headers .bp-table-header.bp-table-last-in-row { box-shadow: none !important; }
.bp-table-resize-vertical .bp-table-resize-handle { left: -7px; }
.bp-table-header-content button span { padding: 0 0 0 10px !important; }

.header svg {
  fill: rgba(242, 101, 50, 0.55) !important;
}
