html {
  font-family: "Roboto", Arial, sans-serif;
}

html,
body {
  margin:0;
  padding:0;
}

/* @module */
.box-content {
  margin: 0 auto;
  padding: 24px;
  max-width: 100%;
  width: 100%;
}

.results-table {
  margin-top: 24px;
}

.search-wrap-flex {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

/* @decor */
.mui-shadow {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px,
              rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.search-bar {
  margin-bottom: 6px;
  width:100% !important;
}

/* images */
.icon-search {
  position: relative;
  top: 5px;
}

/* laptops and up @media */
@media screen
  and (min-width: 1200px) {
    .box-content {
      max-width: 45%;
      width: 45%;
    }
}

/* @override */
a {
  text-decoration: none !important;
}

.header svg {
  fill: rgba(242, 101, 50, 0.55) !important;
}