html {
  font-family: "Roboto", Arial, sans-serif;
}

html,
body {
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
}

input {
  width: 100%;
  padding: 8px 8px 8px 2px;
  border: none;
  border-bottom: 2px solid #DDD;
}

input:focus {
  outline: none;
}

/* modules */
.box-content {
  margin: 0 auto;
  padding: 24px;
  max-width: 100%;
  width: 100%;
}

/* decoration */
.mui-shadow {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px,
        rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

/* laptops @media */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
}

/* laptops and up @media */
@media screen
  and (min-width: 1200px) {
    .box-content {
    max-width: 45%;
    width: 45%;
  }
}