html {
  font-family: "Roboto", Arial, sans-serif;
}

html,
body {
  margin:0;
  padding:0;
  min-height: 100%;
  height: 100%;
}

h2 { margin: 24px 0 18px; }

/* @module */
.box-content {
  margin: 0 auto;
  padding: 24px;
  max-width: 100%;
  width: 100%;
}

.results-wrap { margin-top: 24px; }

.results-table {
  margin-top: 24px;
}

.search-area { position: relative; }

.search-wrap-flex {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

/* @decor */
.mui-shadow {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px,
              rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.search-bar {
  margin-bottom: 6px;
  width:100%;
}

/* images */
.icon-search {
  position: relative;
  top: 5px;
}

/* @media laptops and up */
@media screen
  and (min-width: 1200px) {
    /* content pages go smaller for readability*/
    .box-content > div {
      max-width: 800px;
      width: 800px;
    }

    /* search stays wide */
    .box-content .search-area {
      max-width: 100%;
      width: 100%;
    }
}
/* @media laptops and down */
@media screen
  and (max-width: 1200px) {
    /* override */
    .bp-table-body-scroll-client { width: 100%; }
}

/* @media mobile's in landscape view */
@media screen and (orientation: landscape) and (max-width: 800px) {
  .no-scroll {
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
  }
}

/* @helper */
.no-scroll {
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

/* @overrides */
a {
  text-decoration: none !important;
}

/* react table overrides */
.bp-table-container { box-shadow: none !important; background-color: #FFF; }
.bp-table-quadrant-scroll-container { margin-left: 1px; }
.bp-table-container:focus { outline: none; }
.bp-table-cell {
  padding: 15px 10px;
  box-shadow: 0 1px 0 rgb(224,224,224) inset !important;
  transition: .25s ease-in-out; /* looks nice on column resize */
}
.bp-table-column-headers .bp-table-header { transition: .25s ease-in-out; }
.bp-table-header-content button { text-align: left !important; background-color: #FFF !important; }
.bp-table-column-headers { box-shadow: none; background-color: #FFF; }
.bp-table-resize-guides .bp-table-vertical-guide { box-shadow: -3px 0 #f26532; background-color: #f26532; margin-left: 0px; width: 1px; }
.bp-table-resize-vertical .bp-table-resize-handle { left: 2px; background-color: #f26532; }
.bp-table-header-content button span { padding: 0 0 0 10px; }
.bp-table-selection-region {
  border: none;
  margin-top: 1px;
  background-color: rgba(242, 101, 50, 0.25);
}

.header svg {
  fill: rgba(242, 101, 50, 0.55) !important;
}
